@media only screen and (max-width: 1200px){
    #topBar{
        height: auto;

        .container{
            width: 80%;
            padding: 0.5rem 0;

            .leftSide{
                flex-direction: row;
                align-items: flex-start;
            }
        }
    }

    #logo{
        .container{
            width: 90%;
        }
    }

    #wwdo{
        height: auto;

        .container{
            width: 90%;
            .top{
                .left{
                    h1{
                        font-size: 2rem;
                    }
                }
            }
            .bottom{
                .card{
                    .img{
                        width: 200px;
                        height: 200px;
                    }
                }
            }
        }
    }

    #video{
        background: linear-gradient(90deg, #030303 66%, #fff 65%);
        .container{
            width: 90%;
            .exp{
                .left, .right{
                    .content{
                        h1{
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }
    }

   #gallery, #events, #news{
       .container{
           width: 90%;

           .content{
               .des{
                   h1{
                       font-size: 1rem;
                   }
                   .goal{
                       flex-direction: column;
                       justify-content: space-around;
                       margin: 1rem 0;
                   }
                   a{
                       width: 10rem;

                   }
               }
           }
       }
   }
   #banner, #contact, #footer, #volunteer,
   #aboutdes{
        .container{
            width: 90%;
        }
    } 
}
@media only screen and (max-width: 886px){
    #logo{
        height: auto;

        .container{
            padding: 0.5rem 0;

            .logoSec{
                flex-direction: column;

                .logo{
                    width: 100%;
                    padding: 1rem 0 ;
                    flex-direction: row;
                    margin-bottom: 1rem;

                    i{
                        display: block;
                        cursor: pointer;
                    }
                }

                ul.blockon{
                    display: block;
                }
                ul{
                    flex-direction: column;
                    transition: 0.6s;
                    display: none;
                    
                    li{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1rem;

                        a{
                            font-size: 1rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    #wwdo{
        height: auto;

        .container{
            width: 90%;
            .top{
                .left{
                    h1{
                        font-size: 2rem;
                    }
                }
            }
            .bottom{
                .card{
                    .img{
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }
    }
    #banner{
        .container{
            a{
                width: 40%;
            }
        }
    }

    #contact{
        .container{
            .right{
                form{
                    input, textarea{
                        width: 100%;
                    }
                    
                }
            }
        }
    }

    #aboutdes{
        .container{
            .left, .right{
                width: 90%;
            }
            .left{
                margin-bottom: 3rem;
            }
        }
    }

    #volunteer{
        .container{
            .content{
                flex-direction: column;

                .left, .right{
                    width: 90%;

                    .card{
                        .img{
                            height: 20rem;
                        }
                    }
                }
                .left{
                    margin-bottom: 3rem;
                }
            }
            a{
                width: 40%;
            }
        }
    }
}
@media only screen and (max-width: 810px){
    #landing{
        .container{
            h1{
                font-size: 3rem;
            }
        }
    }
}
@media only screen and (max-width: 786px){
    #topBar{
        height: auto;

        .container{
            width: 95%;
            padding: 0.5rem 0;

            .leftSide{
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    #wwdo{
        height: auto;

        .container{
            width: 90%;
            height: auto;
            .top{
                flex-direction: column;
                height: auto;
                .left{
                    margin-top: 5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    h1{
                        font-size: 1.5rem;
                    }
                }
                .right{
                    p{
                        text-align: center;
                    }
                }
            }
            .bottom{
                flex-direction: column;
                .first{
                    margin-bottom: 3rem !important;
                }
                .card{
                    margin-bottom: 3rem;
                    margin-left: 0;

                    .img{
                        width: 100%;
                        height: 80%;
                    }
                    .content{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    #video{
        background: linear-gradient(90deg, #030303 65%, #fff 65%);
        .container{
            .exp{
                .left, .right{
                    .content{
                        width: 90%;
                        h1{
                            font-size: 2rem;
                        }
                        p{
                            font-size: 1rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    #gallery{
        .container{
            .header{
                h1{
                    font-size: 1.5rem;
                }
            }
            .content{
                div{
                    flex-direction: column;

                    img{
                        width: 100%;
                        margin: 0;
                        margin-bottom: 2.5rem;
                        height: 30vh;
                        
                    }
                }
                div.middle{
                    margin: 0;
                }
                div.bottom{
                    flex-direction: column;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }

    #gallery, #events, #news{
        .container{
            .content{
                flex-direction: column;
                .card{
                    width: 70%;
                    margin-bottom: 5rem;

                    .img{
                        height: 40vh;
                    }
                }
                .des{
                    h1{
                        font-size: 1rem;
                    }
                    .goal{
                        flex-direction: row;
                    }
                    a{
                        width: 20rem;
                        
                    }
                }
            }
        }
    }

    #banner{
        .container{
            a{
                width: 40%;
            }
        }
    }

    #contact{
        background: linear-gradient(180deg, #fff 45%, #f8a74a 45%);
        .container{
            flex-direction: column;
            .left, .right{
                width: 80%;
            }
            .left{
                margin-bottom: 7rem;
            }
            .right{
                form{
                    input, textarea{
                        width: 100%;
                    }
                    
                }
            }
        }
    }
}
@media only screen and (max-width: 620px){
    #topBar{
        height: auto;

        .container{
            width: 95%;
            flex-direction: column;
            padding: 0.8rem 0;

            .leftSide{
                flex-direction: row;
                margin-bottom: 1rem;
            }
            .rightSide{
                .links{
                    .first{
                        margin-left: 0;
                    }
                }
            }
        }
    }

    #footer{
        .container{
            width: 90%;
            flex-direction: column;
            .left, .middle, .bottom{
                width: 90%;
                margin-top: 1rem;
            }
            .middle{
                .quicklink{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h1{
                        font-size: 1rem;
                    }
                    i{
                        display: block;
                        cursor: pointer;
                    }
                }
                ul.blockon{
                    display: block;
                }
                ul{
                    display: none;
                }
            }
            .bottom{
                .subscribe{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    i{
                        display: block;
                        cursor: pointer;
                    }
                }
                form.blockon{
                    display: block;
                }
                form{
                    display: none;

                    input{
                        width: 100%;
                    }
                }
            }
        }
    }
    #aboutdes{
        .container{
            flex-direction: column;
        }
    }
    #volunteer{
        .container{
            .header{
                h1{
                    font-size: 2rem;
                }
            }
            .content{
                .left, .right{
                    flex-direction: column;
                    .card{
                        width: 80%;
                        margin-bottom: 2rem;
                        .img{
                            height: 25rem;
                        }
                    }
                }
                .left{
                    margin-bottom: 3rem;
                }
            }
            a{
                width: 40%;
            }
        }
    }
}
@media only screen and (max-width: 556px){
    #gallery, #events, #news{
        .container{
            .content{
                .des{
                    a{
                        width: 70%;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 390px){
    #topBar{
        height: auto;

        .container{
            width: 95%;
            flex-direction: column;
            padding: 0.8rem 0;

            .leftSide{
                flex-direction: column;
                margin-bottom: 1rem;
            }
            .rightSide{
                .links{
                    .first{
                        margin-left: 0;
                    }
                }
            }
        }
    }

    #video{
        background: #030303;
        .container{
            h1{
                font-size: 2.5rem;
                text-align: center;
            }

            video{
                width: 100%;
                height: 100%;
            }
            .exp{
                flex-direction: column;

                .left{
                    margin-bottom: 3rem;
                }
                .left, .right{
                    width: 100%;
                    .content{
                        h1{
                            font-size: 2rem;
                        }
                        p{
                            font-size: 1rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}